@use "../../styles/variables" as *;

.product-list {
  position: relative;
  padding: 20px 0;

  &__title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: $blue; 
    margin-bottom: 15px;
    text-transform: uppercase;
  }
}
