@use "../../styles/variables" as *;

.product-card {
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  min-width: 304px; 
  min-height: 500px;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  text-align: start;
  height: 100%;
  justify-content: space-between;
  padding: 16px;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
.product-card__button-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: auto;
  
  .custom-button {
    width: 100%; 
    max-width: 278px;
    min-width: 150px; 
  }
}



img {
  max-width: 278px;
  max-height: 228px;
  object-fit: contain;
  width: 100%;
  margin: 0 auto; 
  display: block; 
}


  h3 {
    font-size: 16px;
    font-weight: bold;
    color: $description;
    margin-bottom: 5px;
  }

  p {
    font-size: 14px;
    color: $text-color;
    margin-bottom: 10px;
  }

  .product-card__price {
    font-size: 18px;
    font-weight: bold;
    color: $description;
    margin-bottom: 10px;
  }

  .product-card__old-price {
    font-size: 14px;
    color: $lightgray;
    text-decoration: line-through;
  }

  .product-card__installments {
    font-size: 12px;
    color: $description;
  }

  .product-card__free-shipping {
    font-size: 14px;
    color: $blue;
    font-weight: bold;
    margin-bottom: 10px;
  }
}

.product-carousel {
  display: flex;
  overflow: hidden;

  .product-card {
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), box-shadow 0.3s ease;
  }
}
