@use "../styles/variables" as *;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.content {
  width: 1440px;
  margin: auto;

}



.content-1280 {
  
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
 }


.content-1280.space-between {
    width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}


.content-1141 {
width: 1141px;
  margin: auto;   
}