$primary-color: #fff;
$secondary-color: #ff6600;
$text-color: #333;
$gray-color: #F6F5F2;
$yellow: #F7CA11;
$text-button: #271C47;
$links: #9F9F9F;
$line:#F0F0F0;
$text-purple:#3019B2;
$text-logo:#4E4E4E;
$blue:#3442B5;
$description:#3F3F40;
$lightgray:#808080;