@use "../../../styles/variables" as *;

.custom-button {
  background-color: $yellow;
  color: $text-button;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
   transition: all 0.3s ease-in-out;
     width: 100%;
  max-width: 206px;
  min-width: 150px;
  
    &:hover {
    background-color: $text-button; 
    color: $primary-color;
  }
}
